@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --foreground: #262626;
  --background: #FAF9F6;
}

* {
  transition: all;
  transition-duration: 0.3s;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  button:hover {
    cursor: pointer;
    transform: scale(0.95);
    opacity: 80%;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  label:has(input[type="checkbox"]) {
    @apply select-none;
  }

  /* Kembalikan opacity 100 untuk area yang difokuskan dan isinya */
  .focused-area {
    @apply border-2 border-dashed border-orange-500 p-2;
  }
  .focused-area > * {
    @apply !opacity-100;
  }

  *:has(.focused-area) > *:not(:has(.focused-area)):not(.focused-area):not(.swal2-container) {
    @apply opacity-30 pointer-events-none select-none transition-opacity duration-300 ease-in-out;
  }
}
