<button type="button" class="bg-transparent border-0 p-0 m-0 cursor-pointer" title="AI: <%= prompt %>" id="<%= type %>">
  <%- include('icons/bsstars.ejs', {width: "16px", height: "16px"}) %>
  <span class="sr-only">AI: <%= prompt %></span>
</button>