<footer class="mt-8">
  <div class="bg-gray-800 text-white p-4">
    <p class="text-center">&copy; 2026 <a href="https://github.com/NgodingWok/modul-ajar-generator" target="_blank" rel="noopener noreferrer" class="text-sky-500"><%= APP_NAME %></a>. All rights reserved.</p>
  </div>
</footer>